In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("/kaggle/input/online-retail-dataset/online_retail.csv")

In [6]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [7]:
df.shape

(541909, 8)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [9]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [11]:
df['CustomerID'] = df['CustomerID'].astype('Int64')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  Int64
 7   Country      541909 non-null  object
dtypes: Int64(1), datetime64[ns](1), float64(1), int64(1), object(4)
memory usage: 33.6+ MB

In [13]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom

In [20]:
# counts
neg_qty = df['Quantity'].lt(0).sum()
zero_qty = df['Quantity'].eq(0).sum()
pos_qty = df['Quantity'].gt(0).sum()
neg_qty, zero_qty, pos_qty

(10624, 0, 531285)

As we can see there are Negative values in Quantity. So, Delete all recoreds with -ve quantity

In [22]:
df = df[df['Quantity'] > 0]

In [23]:
# counts
neg_qty = df['Quantity'].lt(0).sum()
zero_qty = df['Quantity'].eq(0).sum()
pos_qty = df['Quantity'].gt(0).sum()
neg_qty, zero_qty, pos_qty

(0, 0, 531285)

In [25]:
neg_qty = df['UnitPrice'].lt(0).sum()
zero_qty = df['UnitPrice'].eq(0).sum()
pos_qty = df['UnitPrice'].gt(0).sum()

neg_qty, zero_qty, pos_qty

(2, 1179, 530104)

In [26]:
df = df[df['UnitPrice']>0]

In [27]:
neg_qty = df['UnitPrice'].lt(0).sum()
zero_qty = df['UnitPrice'].eq(0).sum()
pos_qty = df['UnitPrice'].gt(0).sum()

neg_qty, zero_qty, pos_qty

(0, 0, 530104)

In [28]:
df.shape

(530104, 8)

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 530104 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    530104 non-null  object
 1   StockCode    530104 non-null  object
 2   Description  530104 non-null  object
 3   Quantity     530104 non-null  int64
 4   InvoiceDate  530104 non-null  datetime64[ns]
 5   UnitPrice    530104 non-null  float64
 6   CustomerID   397884 non-null  Int64
 7   Country      530104 non-null  object
dtypes: Int64(1), datetime64[ns](1), float64(1), int64(1), object(4)
memory usage: 36.9+ MB

In [34]:
df['CustomerID'].isnull().sum()

132220

In [35]:
df['CustomerID'].nunique()

4338

In [39]:
df['CustomerID'].unique()

<IntegerArray>
[17850, 13047, 12583, 13748, 15100, 15291, 14688, 17809, 15311, 16098,
 ...
 16000, 15195, 14087, 14204, 15471, 13436, 15520, 13298, 14569, 12713]
Length: 4339, dtype: Int64

In [41]:
df['CustomerID'].notnull().sum()

397884

From this all we can see that our CustomerID column as missing values but we won't remove it we keep them for analysis

For customer-level analysis like RFM, CLV or top customers, use only rows where CustomerID is not null.

For product, country, revenue, monthly analysis, you can keep all rows.

So you do not drop missing CustomerID globally

In [42]:
df['Revenu'] = df['Quantity']*df['UnitPrice']

In [43]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85

In [49]:
df.groupby('Description')['Quantity'].sum().sort_values(ascending=False).head(10)

Description
PAPER CRAFT , LITTLE BIRDIE           80995
MEDIUM CERAMIC TOP STORAGE JAR        78033
WORLD WAR 2 GLIDERS ASSTD DESIGNS     55047
JUMBO BAG RED RETROSPOT               48474
WHITE HANGING HEART T-LIGHT HOLDER    37891
POPCORN HOLDER                        36761
ASSORTED COLOUR BIRD ORNAMENT         36461
PACK OF 72 RETROSPOT CAKE CASES       36419
RABBIT NIGHT LIGHT                    30788
MINI PAINT SET VINTAGE                26633
Name: Quantity, dtype: int64

In [52]:
df.groupby('Description')['Revenue'].sum().sort_values(ascending=False).head(10)

Description
DOTCOM POSTAGE                        206248.77
REGENCY CAKESTAND 3 TIER              174484.74
PAPER CRAFT , LITTLE BIRDIE           168469.60
WHITE HANGING HEART T-LIGHT HOLDER    106292.77
PARTY BUNTING                          99504.33
JUMBO BAG RED RETROSPOT                94340.05
MEDIUM CERAMIC TOP STORAGE JAR         81700.92
Manual                                 78112.82
POSTAGE                                78101.88
RABBIT NIGHT LIGHT                     66964.99
Name: Revenue, dtype: float64

we are droping Postage and DOTCOM POSTAGE

In [59]:
df = df[~df['Description'].isin(['DOTCOM POSTAGE', 'POSTAGE'])]

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 528272 entries, 0 to 541908
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    528272 non-null  object
 1   StockCode    528272 non-null  object
 2   Description  528272 non-null  object
 3   Quantity     528272 non-null  int64
 4   InvoiceDate  528272 non-null  datetime64[ns]
 5   UnitPrice    528272 non-null  float64
 6   CustomerID   396769 non-null  Int64
 7   Country      528272 non-null  object
 8   Revenue      528272 non-null  float64
dtypes: Int64(1), datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 40.8+ MB

In [61]:
df.groupby('Description')['Revenue'].sum().sort_values(ascending=False).head(10)

Description
REGENCY CAKESTAND 3 TIER              174484.74
PAPER CRAFT , LITTLE BIRDIE           168469.60
WHITE HANGING HEART T-LIGHT HOLDER    106292.77
PARTY BUNTING                          99504.33
JUMBO BAG RED RETROSPOT                94340.05
MEDIUM CERAMIC TOP STORAGE JAR         81700.92
Manual                                 78112.82
RABBIT NIGHT LIGHT                     66964.99
PAPER CHAIN KIT 50'S CHRISTMAS         64952.29
ASSORTED COLOUR BIRD ORNAMENT          59094.93
Name: Revenue, dtype: float64

In [64]:
df = df[df['Description'] != 'Manual']

In [66]:
df.groupby('Description')['Revenue'].sum().sort_values(ascending=False).head(10)

Description
REGENCY CAKESTAND 3 TIER              174484.74
PAPER CRAFT , LITTLE BIRDIE           168469.60
WHITE HANGING HEART T-LIGHT HOLDER    106292.77
PARTY BUNTING                          99504.33
JUMBO BAG RED RETROSPOT                94340.05
MEDIUM CERAMIC TOP STORAGE JAR         81700.92
RABBIT NIGHT LIGHT                     66964.99
PAPER CHAIN KIT 50'S CHRISTMAS         64952.29
ASSORTED COLOUR BIRD ORNAMENT          59094.93
CHILLI LIGHTS                          54117.76
Name: Revenue, dtype: float64

## Country-wise analysis

In [71]:
df.groupby('Country')['Revenue'].sum().sort_values(ascending=False).head(10)

Country
United Kingdom    8774773.674
Netherlands        283889.340
EIRE               276404.300
Germany            205569.890
France             184768.740
Australia          138171.310
Spain               55725.110
Switzerland         53087.900
Japan               37416.370
Belgium             36927.340
Name: Revenue, dtype: float64

In [70]:
df['Country'].value_counts().head(10)

Country
United Kingdom    484085
Germany             8658
France              8102
EIRE                7885
Spain               2422
Netherlands         2322
Switzerland         1935
Belgium             1935
Portugal            1464
Australia           1181
Name: count, dtype: int64

In [73]:
average_revenue = df.groupby('Country')['Revenue'].sum() / df.groupby('Country')['InvoiceNo'].nunique()

In [76]:
average_revenue.sort_values(ascending=False).head(10)

Country
Netherlands    3052.573548
Australia      2467.344821
Singapore      2280.097500
Japan          1969.282632
Lebanon        1693.880000
Hong Kong      1421.855714
Brazil         1143.600000
Sweden         1083.509706
Switzerland    1061.758000
Israel         1016.907500
dtype: float64

1. United Kingdom missing from top-10 average revenue
The UK has huge order volume but relatively low value per order.
Customers buy cheaper items, or buy in small quantities per invoice.

2. Netherlands, Australia, Singapore at the top
Their average order values are very high.
Even with fewer orders, each invoice contains high-value purchases.
This is why Netherlands made it into the top revenue list despite moderate order count.

3. Japan, Lebanon, Hong Kong, Israel
They do not appear in top order counts and some don’t appear in top revenue totals.
But they appear in top average revenue.
This means they place few orders, but those orders are expensive and large.

4. Sweden and Switzerland
Similar pattern.
Moderate order counts, strong average order values.

This metric reveals customer behaviour patterns by country:

- UK = high frequency, low value
- Netherlands, Australia = lower frequency, high value
- Japan, Israel, Lebanon = rare but heavy transactions

In [77]:
avg_price_country = df.groupby('Country')['Revenue'].sum() / df.groupby('Country')['Quantity'].sum()

In [79]:
avg_price_country.sort_values(ascending=False).head(10)

Country
Lebanon               4.388290
Brazil                3.212360
RSA                   2.855584
Greece                2.855174
Lithuania             2.547638
Bahrain               2.401720
European Community    2.365816
Denmark               2.222793
Malta                 2.161367
Channel Islands       2.124072
dtype: float64

In [ ]:
df[df['Country'] == 'Lebanon'].groupby('Description')['Revenue'].sum().sort_values(ascending=False).head(10)

In [ ]:
df[df['Country'] == 'Lebanon'].groupby('Description')['Revenue'].sum().sort_values(ascending=False).head(10)